<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html">

<template>
    <template is="dom-if">
        <h1>Reset Password - <span>{{model.FullName}}</span></h1>
        <div class="launcher-labeled-input">
            <input id="Password$" type="text" value="{{model.Password$::change}}" placeholder="<Password>" />
            <label for="Password$">Password</label>
        </div>
        <div class="launcher-labeled-input">
            <input id="ConfirmPassword$" type="text" value="{{model.ConfirmPassword$::change}}" placeholder="<Password>" />
            <label for="ConfirmPassword$">Confirm Password</label>
        </div>
        <template is="dom-if" if="{{model.Message}}">
            <p>{{model.Message}}</p>
        </template>
        <button class="launcher-button" style="background-color:#11653B" onclick="++this.value;" value="{{model.Save$::click}}">Save</button>
        <link is="puppet-redirect" history url$="{{model.RedirectUrl}}">
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
</template>