<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.UserAdmin</Namespace>
  <Channel>Stable</Channel>  
  <Version>1.0</Version>
  <AppName>UserAdminApp</AppName>
  <Executable>app/UserAdminApp.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>UserAdmin.png</ImageUri>
  <DisplayName>User Admin</DisplayName>
  <Company>Polyjuice</Company>
  <Description>User Administration Application</Description>
  <VersionDate>2014-11-14T14:51:00Z</VersionDate>
</PackageConfig>