<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.UserAdmin</Namespace>
  <Channel>Stable</Channel>  
  <Version>1.1</Version>
  <AppName>UserAdminApp</AppName>
  <Executable>app/UserAdminApp.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>UserAdmin.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>User Admin</DisplayName>
  <Heading>User Administration</Heading>
  <Description>User Administration Application, manage system users and user groups. Send mail to users who forgot there password.</Description>
  <VersionDate>2015-03-10T15:14:00Z</VersionDate>
</PackageConfig>