<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html">
<link rel="import" href="/vendor/sgb-property-metadata/sgb-property-metadata.html">

<link rel="stylesheet" href="/css/useradmin.css">

<template>

        <sgb-property-metadata items="{{PropertyMetadataItems.Items}}"></sgb-property-metadata>

    <H1>Company - {{Name$}}</H1>

    <div class="launcher-labeled-input">
        <input id="Username" type='text' readonly value='{{ Username }}' placeholder='<Username>'>
        <label for="Username">Username</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Name$" type='text' value='{{ Name$ }}' placeholder='<Name>'>
        <label for="Name$">Name</label>
    </div>

    <!-- Member in user groups -->
    <h3>Member in user group</h3>

    <table class="gridtable" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <template repeat="{{item in Groups}}">
                <tr>
                    <td>
                        <a href="/launcher/workspace/UserAdminApp/admin/usergroups/{{item.Key}}"> {{item.Name}}</a>
                    </td>
                    <td><button onclick="getModel(this).item.Remove$++">Remove</button></td>
                </tr>
            </template>
        </tbody>
    </table>

    <div class="launcher-labeled-input">
        <label for="AddToGroup">System Groups</label>
        <select value="{{SelectedSystemUserGroupsID$}}">
            <option value="">None</option>
            <template repeat="{{ item in SystemUserGroups }}">
                    <option value="{{item.Key}}">{{item.Name}}</option>
            </template>
        </select>

        <button onclick="getModel(this).AddUserToGroup$++">Add Company to group</button>
    </div>


    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" style="background-color:#11653B" disabled?="{{ IsInvalid || IsPristine }}" onclick="getModel(this).Save$++">Save</button>
    <button class="launcher-button"  onclick="getModel(this).Delete$++">Delete</button>
    <button class="launcher-button" disabled?="{{ IsDirty || !ResetPassword_Enabled }}" onclick="getModel(this).ResetPassword$++">Reset Password</button>
    <button class="launcher-button" disabled?="{{ IsPristine }}" onclick="getModel(this).Rollback$++">Undo</button>
    <button class="launcher-button"  onclick="getModel(this).Close$++">Close</button>

   <link is="puppet-redirect" history url="{{ RedirectUrl }}">

</template>
