<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html">

<link rel="stylesheet" href="/css/useradmin.css">

<template>

    <h1>System User Group ({{ Name$ }})</h1>

    <div class="launcher-labeled-input">
        <input id="Name$" type='text'  value='{{ Name$ }}' placeholder='<Name>'>
        <label for="Name$">Name</label>
    </div>

    <template if="{{Name_Feedback.TypeNo>=0}}">
        <span class="isa_{{Name_Feedback.Type}}">
            {{Name_Feedback.Message}}
        </span>
    </template>

    <div class="launcher-labeled-input">
        <label for="BasedOn">Based On</label>
        <select value="{{SelectedBasedOnGroupID$}}">
            <option value="">None</option>
            <template repeat="{{ item in UserGroups }}">
                    <option value="{{item.Key}}">{{item.Name}}</option>
            </template>
        </select>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <h3>Members</h3>

    <table class="gridtable" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <template repeat="{{item in Members}}">
                <tr>
                    <td>
                        <a href="/launcher/workspace/UserAdminApp/admin/users/{{item.Key}}"> {{item.FullName}}</a>
                    </td>
                    <td><button onclick="getModel(this).item.Remove$++">Remove</button></td>
                </tr>
            </template>
        </tbody>

        <tfoot>
            <tr>
            <td>
                <div class="launcher-labeled-input">
                    <input id="Text1" type='text'  value='{{ AddUserName$ }}' placeholder='<Add Username>'>
                </div>
                <template if="{{AddUser_Feedback.TypeNo>=0}}">
                    <span class="isa_{{AddUser_Feedback.Type}}">
                        {{AddUser_Feedback.Message}}
                    </span>
                </template>
            </td>
            <td>
                <button  onclick="getModel(this).AddUser$++">Add User</button>
            </td>
            </tr>
        </tfoot>
    </table>

    <button class="launcher-button" style="background-color:#11653B" disabled?="{{ IsInvalid || IsPristine }}" onclick="getModel(this).Save$++">Save</button>
    <button class="launcher-button"  onclick="getModel(this).Delete$++">Delete</button>
    <button class="launcher-button" disabled?="{{ IsPristine }}" onclick="getModel(this).Rollback$++">Undo</button>
    <button class="launcher-button"  onclick="getModel(this).Close$++">Close</button>

   <link is="puppet-redirect" history url="{{ RedirectUrl }}">

</template>
