<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html" />
<link rel="import" href="/sys/sgb-property-metadata/sgb-property-metadata.html" />
<link rel="stylesheet" href="/sys/bootswatch/paper/bootstrap.css" />
<link rel="stylesheet" href="/useradmin/css/useradmin.css" />

<template>
    <template is="dom-bind">
        <sgb-property-metadata items="{{model.PropertyMetadataItems}}"></sgb-property-metadata>
        <h2>Create Group</h2>

        <div class="form-horizontal">
            <label class="control-label" for="Name$">Name</label>
        </div>
        <div>
            <input id="Name$" type="text" value="{{model.Name$::input}}" placeholder="Name"  class="form-control" />
        </div>
        <template is="dom-if" if="{{model.Message}}">
            <p>{{model.Message}}</p>
        </template>
        <button class="btn btn-primary" onclick="++this.value;" value="{{model.Save$::click}}">Save</button>
        <button class="btn btn-default" onclick="++this.value;" value="{{model.Close$::click}}">Close</button>
        <link is="puppet-redirect" history url$="{{model.RedirectUrl}}" />
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
</template>
