<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html" />
<link rel="import" href="/sys/sgb-property-metadata/sgb-property-metadata.html" />
<link rel="stylesheet" href="/sys/bootswatch/paper/bootstrap.css" />
<link rel="stylesheet" href="/useradmin/css/useradmin.css" />

<template>
    <template is="dom-bind">
        <sgb-property-metadata items="{{model.PropertyMetadataItems}}"></sgb-property-metadata>
        <h2>Create User</h2>

        <div class="form-horizontal">
            <label class="control-label" for="Username$">Username</label>
        </div>
        <div>
            <input id="Username$" type="text" value="{{model.Username$::input}}" placeholder="Username" class="form-control" />
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="FirstName$">FirstName</label>
        </div>
        <div>
            <input id="FirstName$" type="text" value="{{model.FirstName$::input}}" placeholder="FirstName" class="form-control" />
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="LastName$">LastName</label>
        </div>
        <div>
            <input id="LastName$" type="text" value="{{model.LastName$::input}}" placeholder="LastName" class="form-control" />
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="Password$">Password</label>
        </div>
        <div>
            <input id="Password$" type="password" value="{{model.Password$::input}}" placeholder="Password" class="form-control" />
        </div>
        <template is="dom-if" if="{{model.Message}}">
            <p class="alert">{{model.Message}}</p>
        </template>
        <div>
            <button class="btn btn-primary" disabled="{{model.IsInvalid}}" onclick="++this.value" value="{{model.Save$::click}}">Save</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="++this.value;" value="{{model.Close$::click}}">Close</button>
        </div>
        <link is="puppet-redirect" history url$="{{model.RedirectUrl}}" />
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
</template>
