<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html" />
<link rel="import" href="/sys/sgb-property-metadata/sgb-property-metadata.html" />
<link rel="stylesheet" href="/sys/bootswatch/paper/bootstrap.css" />

<template>
    <template is="dom-bind">
        <sgb-property-metadata items="{{model.PropertyMetadataItems}}"></sgb-property-metadata>
        <img src="{{model.ImageURL}}" />
        <h2>{{model.FullName}}</h2>
        <div class="form-horizontal">
            <label class="control-label" for="Username">Username</label>
        </div>
        <div>
            <input id="Username" type="text" value="{{model.Username}}" update-on="input" placeholder="Username" class="form-control" readonly />
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="FirstName$">FirstName</label>
        </div>
        <div>
            <input id="FirstName$" type="text" value="{{model.FirstName$::change}}" update-on="input" placeholder="FirstName" class="form-control" />
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="LastName$">LastName</label>
        </div>
        <div>
            <input id="LastName$" type="text" value="{{model.LastName$::change}}" update-on="input" placeholder="LastName" class="form-control" />
        </div>

        <!-- Member in user groups -->
        <h3>Member in</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Groups}}">
                    <tr>
                        <td>
                            <a href="{{item.Url}}">{{item.Name}}</a>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" onclick="++this.value;" value="{{item.Remove$::click}}">Remove</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="form-horizontal">
            <label class="control-label" for="AddToGroup">Add System Group</label>
        </div>
        <div>
            <select value="{{model.SelectedSystemUserGroupsID$::change}}" class="form-control">
                <option value="">None</option>
                <template restamp="true" is="dom-repeat" items="{{model.SystemUserGroups }}">

                    <template restamp="false" is="dom-if" if="{{ isEqual(item.Key,model.SelectedSystemUserGroupsID$) }}">
                        <option selected="selected" value="{{item.Key}}">{{item.Name}}</option>
                    </template>

                    <template restamp="false" is="dom-if" if="{{ !isEqual(item.Key,model.SelectedSystemUserGroupsID$) }}">
                        <option value="{{item.Key}}">{{item.Name}}</option>
                    </template>


                    <!--<option value="{{item.Key}}">{{item.Name}}</option>-->
                </template>
            </select>
        </div>
        <div>
            <button class="btn btn-default btn-sm" onclick="++this.value;" value="{{model.AddUserToGroup$::click}}">Add</button>
        </div>
        <template is="dom-if" if="{{model.Message}}">
            <p>{{model.Message}}</p>
        </template>
        <div>
            <button class="btn btn-primary" disabled$="{{isSaveDisabled(model.IsInvalid, IsPristine)}}" onclick="++this.value;" value="{{model.Save$::click}}">Save</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="++this.value;" value="{{model.Delete$::click}}">Delete</button>
        </div>
        <div>
            <button class="btn btn-default" disabled$="{{isResetPassportDisabled(model.IsDirty, model.ResetPassword_Enabled)}}" onclick="++this.value;" value="{{model.ResetPassword$::click}}">Reset Password</button>
        </div>
        <div>
            <button class="btn btn-default" disabled$="{{model.IsPristine}}" onclick="++this.value;" value="{{model.Rollback$::click}}">Undo</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="++this.value;" value="{{model.Close$::click}}">Close</button>
        </div>

        <link is="puppet-redirect" history url$="{{model.RedirectUrl}}" />
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
    <script>
        (function (template) {
            template.isSaveDisabled = function (IsInvalid, IsPristine) {
                return IsInvalid || IsPristine;
            };

            template.isResetPassportDisabled = function (IsDirty, ResetPassword_Enabled) {
                return IsDirty || !ResetPassword_Enabled;
            };

            template.isEqual = function (value1, value2) {
                return value1 === value2;
            }
        })(document.currentScript.previousElementSibling);
    </script>
</template>