<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html" />
<link rel="import" href="/sys/sgb-property-metadata/sgb-property-metadata.html" />
<link rel="stylesheet" href="/sys/bootswatch/paper/bootstrap.css" />

<template>
    <template is="dom-bind">
        <sgb-property-metadata items="{{model.PropertyMetadataItems}}"></sgb-property-metadata>
<!--        <h2>{{model.Name$}}</h2>
        <h3>System User Group</h3>-->

        <div class="page-header">
            <h1>
                <span>{{model.Name$}}</span>
                <small>System Usergroup</small>
            </h1>
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="Name$">Name</label>
        </div>
        <div>
            <input id="Name$" type="text" value="{{model.Name$::change}}" upd update-on="input" placeholder="Name" class="form-control" />
        </div>

        <div class="form-horizontal">
            <label class="control-label" for="BasedOn">Based On</label>
        </div>

        <div>
            <select value="{{model.SelectedBasedOnGroupID$::change}}" id="BasedOn" class="form-control">
                <template restamp="true" is="dom-repeat" items="{{model.UserGroups}}">

                    <template restamp="false" is="dom-if" if="{{ isEqual(item.Key,model.SelectedBasedOnGroupID$) }}">
                        <option selected="selected" value="{{item.Key}}">{{item.Name}}</option>
                    </template>

                    <template restamp="false" is="dom-if" if="{{ !isEqual(item.Key,model.SelectedBasedOnGroupID$) }}">
                        <option value="{{item.Key}}">{{item.Name}}</option>
                    </template>
                </template>
            </select>
        </div>

        <template is="dom-if" if="{{model.Message}}">
            <p>{{model.Message}}</p>
        </template>
        <h3>Members</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Members}}">
                    <tr>

                        <td>
                            <template is="dom-if" if="{{item.ImageURL}}">
                                <img style="height:16px;vertical-align: text-top" src="{{item.ImageURL}}" />
                             </template>
                            <a href="{{item.Url}}">{{item.FullName}}</a>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" onclick="++this.value;" value="{{item.Remove$::click}}">Remove</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div>
            <template is="dom-if" if="{{model.AddUser_Feedback}}">
                <span class="isa_Error">{{model.AddUser_Feedback.Message}}</span>
            </template>
        </div>
        <div>
            <input id="AddUserName$" type="text" value="{{model.AddUserName$::change}}" placeholder="Username" class="form-control" />
        </div>
        <div>
            <button class="btn btn-default btn-sm" onclick="++this.value;" value="{{model.AddUser$::click}}">Add User</button>
        </div>
        <div>
            <button class="btn btn-primary" disabled$="{{isSaveDisabled(model.IsInvalid, model.IsPristine)}}" onclick="++this.value;" value="{{model.Save$::click}}">Save</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="++this.value;" value="{{model.Delete$::click}}">Delete</button>
        </div>
        <div>
            <button class="btn btn-default" disabled$="{{model.IsPristine}}" onclick="++this.value;" value="{{model.Rollback$::click}}">Undo</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="++this.value;" value="{{model.Close$::click}}">Close</button>
        </div>

        <link is="puppet-redirect" history url$="{{model.RedirectUrl}}" />
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
    <script>
        (function (template) {
            template.isSaveDisabled = function (IsInvalid, IsPristine) {
                return IsInvalid || IsPristine;
            };

            template.isResetPassportDisabled = function (IsDirty, ResetPassword_Enabled) {
                return IsDirty || !ResetPassword_Enabled;
            };

  
            template.isEqual = function (value1, value2) {
                return value1 === value2;
            }

        })(document.currentScript.previousElementSibling);
    </script>
</template>
