<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html" />
<link rel="import" href="/sys/sgb-property-metadata/sgb-property-metadata.html" />
<link rel="stylesheet" href="/UserAdmin/css/useradmin.css" />

<template>
    <template is="dom-bind">
        <sgb-property-metadata items="{{model.PropertyMetadataItems.Items}}"></sgb-property-metadata>
        <h1>Company - <span>{{Name$}}</span></h1>
        <div class="launcher-labeled-input">
            <input id="Username" type="text" readonly value="{{model.Username}}" placeholder="<Username>" />
            <label for="Username">Username</label>
        </div>

        <div class="launcher-labeled-input">
            <input id="Name$" type="text" value="{{model.Name$::change}}" placeholder="<Name>" />
            <label for="Name$">Name</label>
        </div>

        <!-- Member in user groups -->
        <h3>Member in user group</h3>
        <table class="gridtable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Groups}}">
                    <tr>
                        <td>
                            <a href="{{item.Url}}">{{item.Name}}</a>
                        </td>
                        <td>
                            <button onclick="++this.value;" value="{{item.Remove$::click}}">Remove</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <div class="launcher-labeled-input">
            <label for="AddToGroup">System Groups</label>
            <select value="{{model.SelectedSystemUserGroupsID$::change}}">
                <option value="">None</option>
                <template is="dom-repeat" items="{{model.SystemUserGroups}}">
                    <option value="{{item.Key}}">{{item.Name}}</option>
                </template>
            </select>
            <button onclick="++this.value;" value="{{model.AddUserToGroup$::click}}">Add Company to group</button>
        </div>

        <template is="dom-if" if="{{model.Message}}">
            <p>{{model.Message}}</p>
        </template>

        <button class="launcher-button" style="background-color:#11653B" disabled$="{{isSaveDisabled(model.IsInvalid, model.IsPristine)}}" onclick="++this.value;" value="{{model.Save$::click}}">Save</button>
        <button class="launcher-button" onclick="++this.value;" value="{{model.Delete$::click}}">Delete</button>
        <button class="launcher-button" disabled$="{{isResetPassportDisabled(model.IsDirty, model.ResetPassword_Enabled)}}" onclick="++this.value;" value="{{model.ResetPassword$::click}}">Reset Password</button>
        <button class="launcher-button" disabled$="{{model.IsPristine}}" onclick="++this.value;" value="{{model.Rollback$::click}}">Undo</button>
        <button class="launcher-button" onclick="++this.value;" value="{{model.Close$::click}}">Close</button>

        <link is="puppet-redirect" history url$="{{model.RedirectUrl}}" />
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
    <script>
        (function (template) {
            template.isSaveDisabled = function (IsInvalid, IsPristine) {
                return IsInvalid || IsPristine;
            };

            template.isResetPassportDisabled = function (IsDirty, ResetPassword_Enabled) {
                return IsDirty || !ResetPassword_Enabled;
            };
        })(document.currentScript.previousElementSibling);
    </script>
</template>