<link rel="stylesheet" href="/sys/bootswatch/paper/bootstrap.css" />

<template>
    <template is="dom-bind">
        <h2>System user groups</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Based On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Items}}">
                    <tr>
                        <td><a href="{{item.Url}}">{{item.Name}}</a></td>
                        <td><a href="{{item.BasedOn.Url}}">{{item.BasedOn.Name}}</a></td>
                        <td><button class="btn btn-xs btn-default" onclick="++this.value" value="{{item.Delete$::click}}">Delete</button></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/UserAdmin/admin/createusergroup">Create User group</a>
        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
</template>