<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html" />
<link rel="import" href="/sys/sgb-property-metadata/sgb-property-metadata.html" />

<link rel="stylesheet" href="/UserAdmin/css/useradmin.css" />

<template>

    <sgb-property-metadata items="{{PropertyMetadataItems.Items}}"></sgb-property-metadata>
    <H1>Settings</H1>

    <H2>General</H2>

    <div class="launcher-labeled-input">
        <input id="SiteHost$" type='text'  value='{{ SiteHost$ }}' update-on="input"  placeholder='<Site host name>'>
        <label for="SiteHost$">Site Host</label>
    </div>
    <div class="launcher-labeled-input">
        <input id="SitePort$" type='number'  value='{{ SitePort$ }}' update-on="input" placeholder='<Site Port>'>
        <label for="SitePort$">Site Port</label>
    </div>


    <H2>Mail Server</H2>

    <div class="launcher-labeled-input">
        <input id="Enabled$" type='checkbox' checked='{{ Enabled$ }}'>
        <label for="Enabled$">Enabled</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Host$" type='text' disabled?="{{ !Enabled$ }}" value='{{ Host$ }}' placeholder='<Host>'>
        <label for="Host$">Host</label>
    </div>
        
    <div class="launcher-labeled-input">
        <input class="invalid" id="Port$" type='number' disabled?="{{ !Enabled$ }}" value='{{ Port$ }}' placeholder='<Port>'>
        <label for="Port$">Port</label>

        <template if="{{Port_Feedback.TypeNo>=0}}">
            <span class="isa_{{Port_Feedback.Type}}">
                {{Port_Feedback.Message}}
            </span>
        </template>
        
    </div>

    <div class="launcher-labeled-input">
        <input id="EnableSsl$" type='checkbox' disabled?="{{ !Enabled$ }}" checked='{{ EnableSsl$ }}'>
        <label for="EnableSsl$">Enable SSL</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Username$" type='text' disabled?="{{ !Enabled$ }}" value='{{ Username$ }}' placeholder='<Username>'>
        <label for="Username$">Username</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Password$" type='password' disabled?="{{ !Enabled$ }}" value='{{ Password$ }}' placeholder='<Password>'>
        <label for="Password$">Password</label>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" style="background-color:#11653B" disabled?="{{ IsInvalid || IsPristine}}" style="background-color:#11653B" onclick="getModel(this).Save$++">Save</button>
    <button class="launcher-button" disabled?="{{ IsPristine }}" onclick="getModel(this).Rollback$++">Undo</button>
    <button class="launcher-button"  onclick="getModel(this).Close$++">Close</button>

    <link is="puppet-redirect" history url="{{ RedirectUrl }}">


<!-- <div class="debug">
     <h3>Debug Window</h3>

     IsDirty: {{IsDirty}}<br />
     IsPristine: {{IsPristine}}<br />
     IsValid: {{IsValid}}<br />
     IsInvalid: {{IsInvalid}}<br />

    <table class="roomsTable" >
        <thead>
            <tr>
                <th>PropertyName</th>
                <th>Level</th>
                <th>Message</th>
            </tr>
        </thead>

        <tbody>

            <template repeat="{{item in PropertyMetadataItems.Items}}">
                <tr>
                    <td>{{item.PropertyName}}</td>
                    <td>{{item.Level}}</td>
                    <td>{{item.Message}}</td>
                </tr>
            </template>

        </tbody>

    </table>
 </div>-->


</template>
