<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.UserAdmin</Namespace>
  <Channel>Stable</Channel>  
  <Version>2.0.0-pre8</Version>
  <AppName>UserAdmin</AppName>
  <Executable>app/UserAdmin.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>UserAdmin.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>User Admin</DisplayName>
  <Description>Sample user administration. Create **system users** and **system user groups**. Change passwords.</Description>
  <VersionDate>2015-10-20T13:00:00Z</VersionDate>
  <Dependency name="Starcounter">~2.1.177</Dependency>
</PackageConfig>