<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.UserAdmin</Namespace>
  <Channel>Stable</Channel>  
  <Version>2.0.0-pre5</Version>
  <AppName>UserAdmin</AppName>
  <Executable>app/UserAdmin.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>UserAdmin.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>User Admin</DisplayName>
  <Heading>User Administration</Heading>
  <Description>User Administration Application, manage system users and user groups (tested with Starcounter 2.0.3103.3)</Description>
  <VersionDate>2015-04-15T11:08:00Z</VersionDate>
</PackageConfig>