<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html">


<template>

    <H1>Reset Password - {{FullName}}</H1>

    <div class="launcher-labeled-input">
        <input id="Password$" type='text' value='{{ Password$ }}' placeholder='<Password>'>
        <label for="Password$">Password</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="ConfirmPassword$" type='text' value='{{ ConfirmPassword$ }}' placeholder='<Password>'>
        <label for="ConfirmPassword$">Confirm Password</label>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" style="background-color:#11653B" onclick="getModel(this).Save$++">Save</button>

   <link is="puppet-redirect" history url="{{ RedirectUrl }}">

</template>
