
table.gridtable {
    border-collapse: collapse;
}

    table.gridtable th {
        border-width: 1px 1px 1px 1px;
        padding: 4px 4px 4px 4px;
        border-style: solid;
        border-color: #cccccc;
        color: #555555;
        background-color: #eeeeee;
    }

    table.gridtable td {
        border-width: 1px;
        padding: 2px 4px 2px 4px;
        border-style: solid;
        border-color: #cccccc;
        background-color: #ffffff;
    }

.isa_Message, .isa_Warning, .isa_Error {
    margin: 0px 0px;
    padding: 3px 5px 3px 5px;
    align-self: center;
}

.isa_Message {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_Warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_Error {
    color: #D8000C;
    background-color: #FFBABA;
}


textarea:invalid {
    background-color: rgb(243, 60, 60);
    color: white;
}

input[type=text]:invalid {
    background-color: rgb(243, 60, 60);
    color: white;
}

input[type=email]:invalid {
    background-color: rgb(243, 60, 60);
    color: white;
}

input[type=number]:invalid {
    background-color: rgb(243, 60, 60);
    color: white;
}
