<link rel="import" href="/vendor/puppet-redirect/src/puppet-redirect.html">
<link rel="import" href="/vendor/console-log/console-log.html">

<link rel="stylesheet" href="/css/useradmin.css">

<template bind="{{UserAdminApp}}">

    <H1>Company - {{Name$}}</H1>

    <div class="launcher-labeled-input">
        <input id="Username" type='text' readonly value='{{ Username }}' placeholder='<Username>'>
        <label for="Username">Username</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Name$" type='text' value='{{ Name$ }}' placeholder='<Name>'>
        <label for="Name$">Name</label>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" disabled?="{{ IsInvalid || IsPristine }}" onclick="getModel(this).Save$ = null">Save</button>
    <button class="launcher-button"  onclick="getModel(this).Delete$ = null">Delete</button>
    <button class="launcher-button" disabled?="{{ IsDirty || !ResetPassword_Enabled }}" onclick="getModel(this).ResetPassword$ = null">Reset Password</button>
    <button class="launcher-button" disabled?="{{ IsPristine }}" onclick="getModel(this).Rollback$ = null">Undo</button>
    <button class="launcher-button"  onclick="getModel(this).Close$ = null">Close</button>

   <link is="puppet-redirect" history url="{{ RedirectUrl }}">
    <console-log info="REDIRECT: UserAdminApp (editcompany) - Redirecting to => {{RedirectUrl}}"></console-log>

</template>
