<link rel="import" href="/vendor/puppet-redirect/src/puppet-redirect.html">
<link rel="import" href="/vendor/console-log/console-log.html">

<link rel="stylesheet" href="/css/useradmin.css">

<style>
    img {
        vertical-align: text-top;
        margin-right: 10px;
    }
</style>


<template bind="{{UserAdminApp}}">

    <H1> <img  src="{{ImageURL}}" />{{FullName}}</H1>

    <div class="launcher-labeled-input">
        <input id="Username" type='text' readonly value='{{ Username }}' placeholder='<Username>'>
        <label for="Username">Username</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="EMail$" type='email'  value='{{ EMail$ }}' placeholder='<E-Mail>'>
        <label for="EMail$">E-Mail</label>

        <template if="{{EMail_Feedback.TypeNo>=0}}">
            <span class="isa_{{EMail_Feedback.Type}}">
                {{EMail_Feedback.Message}}
            </span>
        </template>
    </div>

    <div class="launcher-labeled-input">
        <input id="FirstName$" type='text' value='{{ FirstName$ }}' placeholder='<FirstName>'>
        <label for="FirstName$">FirstName</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Surname$" type='text' value='{{ Surname$ }}' placeholder='<Surname>'>
        <label for="Surname$">Surname</label>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" disabled?="{{ IsInvalid || IsPristine }}" onclick="getModel(this).Save$ = null">Save</button>
    <button class="launcher-button"  onclick="getModel(this).Delete$ = null">Delete</button>
    <button class="launcher-button" disabled?="{{ IsDirty }}" onclick="getModel(this).ResetPassword$ = null">Reset Password</button>
    <button class="launcher-button" disabled?="{{ IsPristine }}" onclick="getModel(this).Rollback$ = null">Undo</button>
    <button class="launcher-button"  onclick="getModel(this).Close$ = null">Close</button>

   <link is="puppet-redirect" history url="{{ RedirectUrl }}">
    <console-log info="REDIRECT: UserAdminApp (editperson) - Redirecting to => {{RedirectUrl}}"></console-log>

</template>
