<link rel="stylesheet" href="/css/useradmin.css">

<template bind="{{UserAdminApp}}">

    <H1>System user groups</H1>

    <table class="gridtable" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Based On</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            <template repeat="{{item in Items}}">
                <tr>
                    <td>
                        <a href="/launcher/workspace/admin/usergroups/{{item.DbIDString}}"> {{item.Name}}</a>
                    </td>
                    <td>
                        <a href="/launcher/workspace/admin/usergroups/{{item.BasedOn}}"> {{item.BasedOn}}</a>
                    </td>
                    <td><button onclick="getModel(this).item.Delete$ = null">Delete</button></td>
                </tr>
            </template>

        </tbody>

    </table>

    <a href="/launcher/workspace/admin/createusergroup">Create User group</a>
</template>
