<link rel="import" href="/vendor/puppet-redirect/src/puppet-redirect.html">
<link rel="import" href="/vendor/console-log/console-log.html">

<link rel="stylesheet" href="/css/useradmin.css">

<!--<style>

    .isa_Message, .isa_Warning, .isa_Error {
        margin: 0px 0px;
        padding: 3px 5px 3px 5px;
        align-self: center;
    }

    .isa_Message {
        color: #00529B;
        background-color: #BDE5F8;
    }

    .isa_Warning {
        color: #9F6000;
        background-color: #FEEFB3;
    }

    .isa_Error {
        color: #D8000C;
        background-color: #FFBABA;
    }

</style>-->

<template bind="{{UserAdminApp}}">

    <H1>Settings Mail</H1>


    <div class="launcher-labeled-input">
        <input id="Enabled$" type='checkbox' checked='{{ Enabled$ }}'>
        <label for="Enabled$">Enabled</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Host$" type='text' disabled?="{{ !Enabled$ }}" value='{{ Host$ }}' placeholder='<Host>'>
        <label for="Host$">Host</label>
    </div>
        
    <div class="launcher-labeled-input">
        <input class="invalid" id="Port$" type='number' disabled?="{{ !Enabled$ }}" value='{{ Port$ }}' placeholder='<Port>'>
        <label for="Port$">Port</label>

        <template if="{{Port_Feedback.TypeNo>=0}}">
            <span class="isa_{{Port_Feedback.Type}}">
                {{Port_Feedback.Message}}
            </span>
        </template>
        
    </div>

    <div class="launcher-labeled-input">
        <input id="EnableSsl$" type='checkbox' disabled?="{{ !Enabled$ }}" checked='{{ EnableSsl$ }}'>
        <label for="EnableSsl$">Enable SSL</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Username$" type='text' disabled?="{{ !Enabled$ }}" value='{{ Username$ }}' placeholder='<Username>'>
        <label for="Username$">Username</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="Password$" type='password' disabled?="{{ !Enabled$ }}" value='{{ Password$ }}' placeholder='<Password>'>
        <label for="Password$">Password</label>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" disabled?="{{ IsInvalid || IsPristine}}" style="background-color:#11653B" onclick="getModel(this).Save$ = null">Save</button>
    <button class="launcher-button" disabled?="{{ IsPristine }}" onclick="getModel(this).Rollback$ = null">Undo</button>
    <button class="launcher-button"  onclick="getModel(this).Close$ = null">Close</button>

    <link is="puppet-redirect" history url="{{ RedirectUrl }}">
    <console-log info="REDIRECT: UserAdminApp (settings) - Redirecting to => {{RedirectUrl}}"></console-log>

</template>
