<link rel="import" href="/vendor/puppet-redirect/src/puppet-redirect.html">
<link rel="import" href="/vendor/console-log/console-log.html">


<template bind="{{UserAdminApp}}">

    <H1>Reset Password - {{FullName}}</H1>

    <div class="launcher-labeled-input">
        <input id="Password$" type='text' value='{{ Password$ }}' placeholder='<Password>'>
        <label for="Password$">Password</label>
    </div>

    <div class="launcher-labeled-input">
        <input id="ConfirmPassword$" type='text' value='{{ ConfirmPassword$ }}' placeholder='<Password>'>
        <label for="ConfirmPassword$">Confirm Password</label>
    </div>

    <template if="{{Message}}">
        <p>{{Message}}</p>
    </template>

    <button class="launcher-button" style="background-color:#11653B" onclick="getModel(this).Save$ = null">Save</button>

   <link is="puppet-redirect" history url="{{ RedirectUrl }}">
    <console-log info="REDIRECT: UserAdminApp (resetpassword) - Redirecting to => {{RedirectUrl}}"></console-log>

</template>
